.login-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

    .login-form label {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 18rem;
        margin-bottom: 0.4rem;
    }